# Python cache
.python-version
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test / coverage
.coverage
htmlcov/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project-specific
data/
*.pdf
*.jpg
*.png
*.log

# Docker artifacts
*.tar
